<nav class="navbar navbar-expand-lg navbar-light bg-light NavigationComponent">
  <a class="navbar-brand" href="#">Animal Rescue</a>
  <button (click)="visible = !visible" class="navbar-toggler" type="button"  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [style.display]="toggle()">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/caes">C&atilde;es</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gatos">Gatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contato">Contato</a>
      </li>

    </ul>
    <mat-form-field id="search">
      <input matInput type="text">
      <button mat-button matSuffix mat-icon-button aria-label="Busca">
        <img src="https://png.icons8.com/windows/100/000000/search.png" height="20px">
      </button>
    </mat-form-field>

  </div>
</nav>


